*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 12pt;
}
body{
    width: 100%;
    display: flex;
    background:#0a1520 ;
    align-items: center;
    justify-content: center;
}
form{
    margin-top: 25px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin-top: 35px;
    background: transparent;
    border: none;
    padding: 5px 5px;
    font-size: 14pt;
    border-bottom: 1px solid white;
    max-width: 250px;
    border-radius: 10px;
}

#btn{
width: 250px;
border: 1px solid white;
border-radius: 10px;
background-color:#c43b11 ;
}
