 table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    padding:0 ;
    margin: 0;
    /* text-align: center; */
}

table thead tr th {
    font-size: 12pt;
    
    background-color: #333;

}

table tr input {
    border: none;
    background: transparent;
    padding: 5px;
    text-align: center;
}

th,
td {
    
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #f9f9f9;

}


.btn-editar {
    background-color: transparent;
    color: rgb(158, 158, 2);
    border: none;
    cursor: pointer;

}

.btn-borrar,
.btn-cancelar {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    
}

table tbody tr td button{
    font-size: 1.6em;
    padding: 0px 2%;
}

table button:hover {
    background-color: rgba(51, 51, 51, 0.281);
    ;
}


.btn-guardar {
    background-color: transparent;
    color: green;
    border: none;
    cursor: pointer;
    
}


.inputhiden {
    border: none;
}

.inputshow{
    border: 1px solid green; /* Ancho del borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 1px green;
    
} 
table  input{
    width: 100px;
}

@media (max-width: 850px) {
    table input {
        width: 110px;
    }

}

@media (max-width: 550px) {
    table input {
        width: 70px;
    }


}

.tabla{

    width: 100%;
    height: 70vh;
  overflow-y: scroll;
  overflow-x: none;
 justify-content: start;

}

table .display{
    text-align: center;
}


.insert{
    width: 99%;
    color: green;
    border: none;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.insert:hover{
    background: rgba(2, 116, 2, 0.726);
    color: #f9f9f9;
    transition: .5s;
}